.featuredProducts {
  background-color: #e0e4ee;
  padding-bottom: 2em;
  & > h1 {
    font-size: 2rem;
    text-align: center;
    padding-block: 1em;
  }
}

.featured__item {
  max-width: 60%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
  gap: 3em;
  // grid-auto-rows: 420px;
}
