.featuredProducts {
  padding-block-start: 2em;
  padding-block-end: 4em;
  & > h1 {
    font-size: 1.55rem;

    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.featured__item {
  max-width: 70%;
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
}
