.featuredProducts {
  background-color: rgba(146, 146, 146, 0.165);

  & > h1 {
    font-size: 2rem;
    text-align: center;
    padding-block: 1em;
  }
}

.featured__item {
  max-width: 70%;
  margin-inline: auto;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
