@use "../../sass/mixins" as mixin;

.primaryButton__container {
  display: flex;
  min-width: 130px;
  max-width: 120px;

  &--button {
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding: 0.85em;
    background-image: radial-gradient(
      3.5rem circle at bottom right,
      rgb(65, 158, 52),
      #000
    );
    border: 0;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 3px;

    @include mixin.primaryBtnShadow;

    letter-spacing: 0.15px;

    //hover
    &:hover {
      @include mixin.animationShake;
    }
  }
}
