.primaryLink__container {
  display: flex;
  width: 150px;

  &--href {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.75em;
    background-image: radial-gradient(
      3.5rem circle at bottom right,
      #7787cf8c 35%,
      #5a70d4de 10%,
      rgb(238, 199, 177) 10%,
      #000
    );
    background-repeat: no-repeat;
    color: #fff;
    border: 2px solid transparent;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    letter-spacing: 0.5px;
    transition: border 0.3s ease;
  }

  &--href:hover {
    color: #fff;
    background-color: #3f51a2;
    border: 2px solid #000;
    border-radius: 5px 5px 5px 0px;
  }
}
