@use "../../sass/mixins" as mixin;

.primaryLink__container {
  display: flex;

  & > a {
    font-size: calc(100% - 2px);
    background-color: #212d52;
    color: white;
    padding: 0.65em;
    @include mixin.primaryBtnShadow;
    border-radius: 3px;
  }
}
