//REDUCED WIDTH TO ENABLE ITEMS CENTER WITHIN GRID ITEM
.product__imageBox {
  height: 300px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//CENTERING PRODUCT DETAILS
//FLEX CONTAINER

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    inline-size: calc(100% - 150px);
    padding-bottom: 1em;
    transition: 0.3s cubic-bezier(0.19, -1, 0.22, -1);
    //spacing bottom on all container child elenment
    & > * {
      margin-bottom: 0.5em;
    }
  }

  &__container:hover {
    padding: 0.3em 1em;
    box-shadow: 0 12px 12px -11px #212d52fd;
  }
}

.product__price {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  .price__name {
    color: rgb(130, 127, 127);
    font-weight: 450;
  }

  .price__amount {
    font-weight: 600;
    font-size: calc(100% + 5px);
  }
}

//this style is resuable create a componanet of it
.product__details--cta {
  display: flex;

  & > a {
    font-size: calc(100% - 2px);
    background-color: #212d52;
    color: white;
    padding: 0.65em;
    box-shadow: 0 12px 12px -11px #212d52fd;
    border-radius: 3px;
  }
}
