/*********************************************************************************************************
***********************************************************************************************************/

//100vh on large screens

.main__container {
  height: fit-content;
  background: linear-gradient(120deg, #ceff7e33, #92b8543a);
  position: relative;
  padding-top: 3em;
}

//flex container
/*********************************************************************************************************
***********************************************************************************************************/
.hero__transparentCard {
  max-width: 650px;
  background-color: rgba(255, 255, 255, 0.008);
  padding: 2em;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h1 {
      text-transform: uppercase !important;
    }
  }

  &__bodyIntroText {
    text-align: justify;
    margin-bottom: 1em;
  }
}

/*********************************************************************************************************
***********************************************************************************************************/

//Image
.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and(max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.hero__rightContent {
  margin-left: auto;
  align-self: center;
  justify-content: center;
  position: relative;

  .hero__imageBox {
    max-width: 600px;
    display: flex;
    border: 5px solid rgba(#0ed797, 0.59);
    border-radius: 30px;
    transform: rotate(1.5deg);
    position: relative;
    z-index: 2;

    img {
      max-width: 100%;
      border-radius: 30px;
      transform: rotate(-2deg);
    }
  }
}

/*********************************************************************************************************
***********************************************************************************************************/

//assumes 100% of the parents height
.hero__one__container {
  max-width: 80%;
  margin-inline: auto;
  padding-block: 3em;
  height: fit-content;
}

//list of company relationship with customer
.beInterested__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;

  //text
  &Text {
    font-size: 1.15rem;
    text-transform: capitalize;
    margin-left: 1em;
    font-weight: 400;
    color: #494949;
  }
}

/*********************************************************************************************************
***********************************************************************************************************/
//masking on hero banner mega text
.hero__card__megaText {
  background-image: linear-gradient(60deg, #a9a9a9 10%, #000 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 1px #45455543;
}

/*********************************************************************************************************
***********************************************************************************************************/

.hero__ctaButton {
  display: flex;
  align-items: center;
}

.primaryLink--cta {
  display: flex;
  align-items: stretch;

  //flex container
  & > a {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(100% + 1px);
    height: 50px;
    font-weight: 450;
    padding-inline: 1em;
    cursor: pointer;

    //space last child sibling containing in the link tag
    & > svg {
      margin-left: 0.3em;
    }
  }
}

#shopNow {
  a {
    background-color: #0ed797;
    border: 0.35px solid transparent;
    color: #212d52;
  }

  //remove the general hover color of green when hovered

  //active state
  & > a:active {
    background-color: transparent;
    border: 0.35px solid #0ed797;
    color: #0ed797;
  }
}

#customOrders {
  margin-left: 2em;

  & > a {
    color: #000;
    border: 0.35px solid #000;
  }
  & > a:hover {
    color: #0ed797;
  }

  & > a:active {
    border: 0.35px solid #0ed797;
  }
}

/*********************************************************************************************************
***********************************************************************************************************/
//pulsing moon

.pulsing__moon {
  border-radius: 50%;
  background: rgba(#0ed797, 1);
  box-shadow: 0 0 0 0 rgba(#04a471, 1);
  margin: 10px;
  height: 400px;
  width: 400px;
  transform: scale(1);
  animation: pulse-green 2s infinite;
  position: absolute;
  top: 3%;
  left: 15%;
  z-index: 1;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(#0ed797, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 130px rgba(#0ed797, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(#0ed797, 0);
  }
}

/*********************************************************************************************************
***********************************************************************************************************/
//reuasbales
.mxWidth-60 {
  max-width: 80%;
}

.line__height-20 {
  line-height: 60px;
}

.text__bold {
  font-weight: 500;
}

.text__gray {
  color: rgb(136, 135, 135);
}
