.nav {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 177, 255, 0.219),
    rgba(241, 151, 99, 0.358),
    rgba(241, 188, 72, 0.37)
  );
  .header__nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0.65em 0;
  }

  .image__container {
    width: 40px;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
  #navBar__marketLink {
    margin-left: auto;
    margin-right: auto;
    .market__link__Icon > img {
      width: 32px;
    }
  }
  #navBar__cartLink {
    .cartIcon__container > img {
      width: 32px;
    }
  }

  #navBar__accountBtn {
    .account__icon > img {
      width: 32px;
    }
  }
}

.navBurger__icon {
  &Button {
    display: flex;
    background-color: transparent;
    border: 0;
    font-size: 1.75rem;
    cursor: pointer;
    color: #000;

    &:hover {
      transition: color 0.5s linear;
      color: rgb(65, 158, 52);
    }
  }
}

@media screen and (min-width: 480px) {
  #navBar__cartLink,
  #navBar__accountBtn,
  #navBar__marketLink {
    display: none;
  }

  .navBurger__icon {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  #navBar__cartLink,
  #navBar__marketLink {
    display: block;
  }

  #navBar__accountBtn {
    display: flex;
  }

  .navBurger__icon {
    display: none;
  }
}
