.nav {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  //
  .header__nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0.65em 0;
    color: #fff;
  }

  .header__navLogo {
    width: 60px;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
  #navBar__marketLink {
    margin-left: auto;
    margin-right: auto;

    .market__link__Icon > img {
      width: 32px;
    }
  }
  #navBar__cartLink {
    .cartIcon__container > img {
      width: 32px;
    }
  }

  #navBar__accountBtn {
    .account__icon > img {
      width: 32px;
    }
  }
}

.navBurger__icon {
  &Button {
    display: flex;
    background-color: transparent;
    border: 0;
    font-size: 1.75rem;
    cursor: pointer;
    color: bisque;

    &:hover {
      transition: color 0.5s linear;
      color: rgb(65, 158, 52);
    }
  }
}

@media screen and (min-width: 480px) {
  #navBar__cartLink,
  #navBar__accountBtn,
  #navBar__marketLink {
    display: none;
  }

  .navBurger__icon {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  #navBar__cartLink,
  #navBar__marketLink {
    display: block;
  }

  #navBar__accountBtn {
    display: flex;
  }

  .navBurger__icon {
    display: none;
  }
}
