.quantity {
  width: 80px;
  position: relative;
  display: flex;
  border: 1px solid #ccc !important;
  margin-right: 7px;

  &__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    right: 0;
    font-weight: 400;
    font-size: 25px;
    border: 0;
    color: rgb(70, 70, 70);
    cursor: pointer;
    font-family: inherit;
  }
  .plus {
    top: 0;
    border-bottom: 1px solid #ccc;
    z-index: 4;
  }

  .minus {
    bottom: 0;
  }
  &__inputText {
    width: calc(100% - 30px);
    border: 0;
    position: relative;
    padding-left: 18px;
    font-size: 18px;
    border-right: 1px solid #ccc;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
}
