@use "../../sass/mixins" as mixin;

.listview__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}

.listview__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1.5em;
  background-color: #fff;
  @include mixin.primaryCardShadow;
  overflow: hidden;
  //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding-right: 3em;

  & > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
