.market__nav__link {
  display: flex;
  width: 200px;
}

.market__link__text {
  margin-left: 0.25em;
}
.market__link,
.market__link__text {
  display: flex;
  align-items: center;
  color: #ffffff80;

  &__icon > img {
    width: 20px;
  }
}
